body {
    margin: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

/* Slider */

.wrapper {
    width: 500px;
    margin: 0 auto;
}

.slider {
    overflow: hidden;
    background-color: #444;
}

.slider__track {
    display: flex;
    /* transition: 2.2s; */
}

.slider__item {
    min-width: 500px;
    border: 1px solid #fff;
    height: 150px;
    text-align: center;
    color: white;
    background-color: #5d5d5d;
}

.slider__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.btn {
    height: 30px;
    width: 30px;
    font-size: 0;
    color: inherit;
    background-color: #346ccb;
    border: none;
    border-radius: 50%;
}

.btn:hover {
    background-color: #224073;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.dot {
    margin-right: 10px;
     list-style-type: none;
}

.dots button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: #346ccb;
}

.dot.active button {
    height: 21px;
    width: 21px;
    background-color: #224073;
}

.dots button:hover {
    background-color: #224073;
}
